#TrafficLights {
    height: 250px;
    width: 100px;
    background-color: #0f1111;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: goldenrod 3px solid
}

.colors {
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 5px;
    border: grey 2px dashed;
}

#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}